# Node.js
node_modules/

# Environment files
.env

# Logs
*.log
logs/

# OS-specific files
.DS_Store       # macOS
Thumbs.db       # Windows

# npm package lock files
package-lock.json
npm-debug.log

# IDE or editor specific files
.vscode/
.idea/
*.sublime-workspace

# Build and distribution files
/dist
/build

# Other potential directories
/coverage
